#dishes
  .form-container
    .title
      = @dish.name
    .slide-menu
      = render 'slide_menu'
    .show-info
      .input
        = label_tag t('.name')
        = label_tag @dish.name, nil, class: "pretty-input"
      .input
        = label_tag t('.description')
        = label_tag  @dish.description ,nil , class: "pretty-input"
      .input
        = label_tag t('.category')
        = label_tag  Category.find(@dish.category_id).name ,nil , class: "pretty-input"  
      .input
        = label_tag t('.price')
        = label_tag  @dish.price ,nil , class: "pretty-input"
    .image-container    
      = image_tag("image2.jpg", :width => 500, :height => 300)
  #edit-dish-modal.modal.fade    
%input{id: "dish-id", type: "hidden", value: @dish.id}       
